services:
  ofelia:
    image: mcuadros/ofelia:latest
    container_name: ${COMPOSE_PROJECT_NAME}-ofelia
    restart: ${RESTART}
    volumes:
      - ./logs:/ofelia/logs
      - ./config/logrotate.conf:/etc/logrotate.conf:ro
      - /var/run/docker.sock:/var/run/docker.sock
    command: daemon --docker

  logrotate:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ${COMPOSE_PROJECT_NAME}-logrotate
    restart: ${RESTART}
    volumes:
      - ./logs:/ofelia/logs
      - ./config/logrotate.conf:/etc/logrotate.conf:ro
    labels:
      ofelia.enabled: "true"
      ofelia.job-exec.rotate.schedule: "@daily"
      ofelia.job-exec.rotate.command: "logrotate /etc/logrotate.conf"