services:
  ofelia:
    image: mcuadros/ofelia:latest
    container_name: ${COMPOSE_PROJECT_NAME}-ofelia
    restart: "unless-stopped"
    volumes:
      - ./logs:/ofelia/logs
      - ./config/logrotate.conf:/etc/logrotate.conf:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - TZ=${TIMEZONE}
    command: daemon --docker
    labels:
      ofelia.save-folder: "/ofelia/logs"
      ofelia.save-only-on-error: "false"

  logrotate:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ${COMPOSE_PROJECT_NAME}-logrotate
    restart: "unless-stopped"
    volumes:
      - ./logs:/ofelia/logs
      - ./config/logrotate.conf:/etc/logrotate.conf:ro
    environment:
      - TZ=${TIMEZONE}
    labels:
      ofelia.enabled: "true"
      ofelia.job-exec.rotate.schedule: "0 2 * * *"
      ofelia.job-exec.rotate.command: "logrotate /etc/logrotate.conf"
